
<div class="container-fluid">
        <div class="row">
            <div class="d-none d-md-block col-md-5" id="sideimage">
                <!-- image here -->
                <h1>Discover all Morocco’s best place.</h1>
            </div>
            <div class="col-12 col-md-7">
                <div class="nav-link text-right m-3 ">
                    <h4>Already have an account? <a (click)="goToLogin()">Login</a> </h4>
                </div>
                <!-- Login Tab Content -->
                    <div class="row align-items-center justify-content-center" id="sign-form">
                        <!-- <div class="col-md-7 col-lg-6"> -->
                            <!-- Register Form -->
                            <h1 class="col-12 " >Create account</h1>
                            <form  [formGroup]="userForm" (ngSubmit)="onSubmit()" >
                                <div class="row">
                                    <div class="form-group col-12 col-md-6">
                                    <label for="firstName"> First name</label>
                                    <input type="text" class="form-control" name="firstName" formControlName="firstName" >
                                    </div>

                                    <div class="form-group col-12 col-md-6">
                                        <label for="lastName"> Last name</label>
                                        <input type="text" class="form-control" name="lastName" formControlName="lastName" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="username"> Email</label>
                                    <input type="text" class="form-control" name="username" formControlName="username" >
                                </div>
                                <!-- <div class="form-group">
                                    <label for="email"> Email</label>
                                    <input type="text" class="form-control" name="email" formControlName="email" >
                                </div> -->
                                <div class="row">
                                    <div class="form-group col-12 col-md-6">
                                        <label for="password">Password</label>
                                        <input type="password" id="password" class="form-control" name="password" formControlName="password">
                                    </div>
                                    <div class="form-group col-12 col-md-6">
                                        <label for="password">Confirm</label>
                                        <input type="password" id="password" class="form-control" name="password" formControlName="password">
                                    </div>
                                </div>

                                <button type="submit" class="btn formControlName btn-primary"
                                        [disabled]="userForm.invalid">Create account</button>
                            </form>
                            <p class="text-danger">{{ errorMessage }}</p>
                            <div class="alert alert-success" *ngIf="isSuccessful">
                                Your registration is successful!
                              </div>
                        <!-- </div> -->
                    </div>
            </div>
        </div>

    </div>